html, body {
    background: url(../images/Biblioteca.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0;
    padding: 0;
    background-color: transparent;
    width: 100%;
    height: 100%;
    position: absolute;
}

.content {
    padding: 0;
}

.content .header {
    background: #fff;
    padding: 10px;
    color: #0A3B9C;
    margin-bottom: 75px;
    text-align: center;
}

.content .content-link {
    padding-top: 75px;
    text-align: center;
}

.content .content-link a {
    padding: 40px;
    background: #0A3B9C;
    color: #F7F8FB;
    text-decoration: none;
    font-size: 1.5em;
}

.content .content-link a:hover {
    background: #0C368C;
    color: #fff;
}

.content .content-search {
    background: #FFF;
    padding: 10px;
    -webkit-box-shadow: 0px 0px 10px 2px rgba(127, 128, 130, 0.5);
    -moz-box-shadow: 0px 0px 10px 2px rgba(127, 128, 130, 0.5);
    box-shadow: 0px 0px 10px 6px rgba(127, 128, 130, 0.5);
}

.content .content-search p {
    color: #0A3B9C;
    font-weight: bold;
}

.content .content-search .form-search {
    padding: 10px 15px !important;
}